#wrap_login{padding:30px;}
#wrap_login svg{width:100%;}
#wrap_login .githubbutton{text-transform:none; font-size:25px; padding:15px; max-width:480px;}

.indent-padrao{max-width:980px; margin:0 auto; width:100%;}
.logo-header{flex-grow: 1;}
.logo-header svg{width:200px; height:50px;}
.logo-header svg path{fill:#fff; stroke:#fff;}

.main{padding:80px 20px 20px;}

.container-pizza{padding:20px;}
.paper-pizza{display:flex; flex-direction:column; align-items:center; min-width:250px; padding:20px 0;}
.divider{margin:20px 0 !important; width:100%;}
.pizza-imagem{position:relative; height:200px; width:200px; border:1px solid #ccc; border-radius:50%; display:flex; align-items:center; justify-content:center;}
.pizza-imagem:after{content:''; position:absolute; transform:rotate(45deg); background:#ccc; width:1px; height:160px;}
.pizza-imagem:before{content:''; position:absolute; transform:rotate(45deg); background:#ccc; width:160px; height:1px;}
.pizza-imagem span{position:relative; z-index:9; background:#fff; font-size:20px; height:80px; width:80px; border-radius:50%; display:flex; align-items:center; justify-content:center;}
.pizza-typography{text-align:center;}
